body {
  font-family:  Helvetica, Arial, sans-serif;
}

h1 {
    color: violet;
    text-align: center;
    background-color: aqua;
}

body {
     font-family: helvetica, arial, sans-serif;
}

#pagina {
    color:aquamarine;
}
   
#contenedor-1 {
       background-color: greenyellow;
       width: 15%;
       height: 100%;
      /* display: flex;
       align-items: center;
	     justify-content: space-between;*/
       left: 100px;
       top: 10px;
       position: absolute;
       padding: 10px;
    /*flex-direction: column-reverse;*/
}

#contenedor-2 {
       background-color: yellowgreen;
       width: 15%;
       height: 100%;
       right: 100px;
       top: 90px;
       position: absolute;
       /*justify-content: space-between;*/
       /*flex-flow: column-reverse;
       display: flex;
       align-items: center;*/
}

.contenedor-componente {
    position: relative;
    height: 10.5%;
    left: 20%;
}

.componente {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

.cielo {
    height: 80%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.7;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #C9E4C5;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.5;
	z-index: -1;
   }
   
